.each-test {
    height: max-content;
    box-shadow: none;
    text-align: left !important;
    background: none;
    width: 250px;
    padding: 10px;
}
.test-wrap {
    padding-top: 0;
    overflow: hidden;
    margin-bottom: 0;
    height: 200px;
    border-radius: 15px;
box-shadow: 3px 1px 10px 1px #554242;
}

.next::before{
    color: rgb(0, 0, 0) !important;
}
.prev::before{
    color: rgb(0, 0, 0) !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .each-test {
        
        width: 100%;
     
      
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}