.each-equipment {
  height: max-content;
  box-shadow: none;
  text-align: left !important;
  background: none;

  padding: 10px;
}

.equipment-wrap {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  margin-bottom: 0;
  height: 220px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 3px 1px 10px 1px #554242;
}

.each-test {
  height: max-content;
  box-shadow: none;
  text-align: left !important;
  background: none;

  padding: 10px;
}

.dept_content {
  position: absolute;
  right: 15px;
  top: 25px;
  width: 100px;
  text-align: end;
}
.dept_sub_content {
  font-size: 14px;
  line-height: 1;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .equipment-wrap {
   
    width: 320px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
   
  
  }
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
   
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .equipment-wrap {
   
        width: 320px;
      }
   
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .equipment-wrap {
   
        width: 320px;
      }
}