.covid-bg {
   
    border-radius: 15px;

    width: 100%;
    height: auto;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: right;
}
.covid{
    margin-top: 7rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .covid-bg {
   
        border-radius: 15px;
        width: 100%;
        height: 300px;
        background-size:auto;
        
    }
    .covid{
        margin-top: 30rem !important;
    }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .covid{
        margin-top: 30rem !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .covid{
        margin-top: 7rem !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .covid{
        margin-top: 7rem !important;
    }
}
