.accordion-item {
  background-color: transparent !important;
  border: none !important;
}
.accordion-button {
  background-color: transparent !important;
  border-bottom: 1px solid gray !important;
}
.accordion-button:not(.collapsed) {
  color: #00050c !important;
}
.acc-header {
  font-weight: 600;
}
.accordion-body {
  padding: 1.15rem 1.5rem;
  border-bottom: 1px solid black;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    background-color: white;
    border: 1px solid green;
    border-radius: 5px;
    padding: 0 5px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
 border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}