* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #f2ffde !important;
}
p{
  margin-bottom: 0.5rem !important;
  line-height: 1.5;
}

.slick-next:before, .slick-prev:before {
  color: rgb(247, 230, 0) !important;
}
a{
  color: black !important;
}